.select2-dropdown {
  background-color: white;

  border: 1px solid #aaa;
  border-radius: 4px;

  box-sizing: border-box;

  display: block;

  position: absolute;
  left: -100000px;

  width: 100%;

  z-index: 1051;
}

.select2-results {
  display: block;
}

.select2-results__options {
  list-style: none;
  margin: 0;
  padding: 0;
}

.select2-results__option {
  padding: 6px;

  user-select: none;
  -webkit-user-select: none;

  &[aria-selected] {
    cursor: pointer;
  }
}

.select2-container--open .select2-dropdown {
  left: 0;
}

.select2-container--open .select2-dropdown--above {
  border-bottom: none;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.select2-container--open .select2-dropdown--below {
  border-top: none;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.select2-search--dropdown {
  display: block;
  padding: 4px;

  .select2-search__field {
    padding: 4px;
    width: 100%;
    box-sizing: border-box;

    &::-webkit-search-cancel-button {
      -webkit-appearance: none;
    }
  }

  &.select2-search--hide {
    display: none;
  }
}

.select2-dropdown span.selectAll {
  cursor: pointer;
  display: block;
  padding: 6px;
}
.select2-dropdown span.selectAll:hover {
  background-color: #337ab7;
  color: #fff;
}
.select2-dropdown span.selectAll.selectAll--selectable::before {
  content: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='0.5' y='0.5' width='15' height='15' rx='3.5' fill='white'/%3E%3Crect x='0.5' y='0.5' width='15' height='15' rx='3.5' stroke='%233360FF'/%3E%3C/svg%3E");
  width: 16px;
  height: 16px;
  margin-right: 10px; }

.select2-dropdown span.selectAll.selectAll--selected::before {
  content: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='0.5' y='0.5' width='15' height='15' rx='3.5' fill='white'/%3E%3Cpath d='M11.7333 5.2L6.59994 10.3333L4.2666 8' stroke='%233360FF' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Crect x='0.5' y='0.5' width='15' height='15' rx='3.5' stroke='%233360FF'/%3E%3C/svg%3E");
  width: 16px;
  height: 16px;
  margin-right: 10px; }
